import(ggplot2)
import(DMEA)
import(dplyr)
importFrom(ply, ddply)
importFrom(Biobase, ExpressionSet
importFrom(data.table, rbindlist)
importFrom(ggcorrplot, ggcorrplot)
importFrom(GSA, GSA.read.gmt)
importFrom(igraph, degree, graph_from_data_frame, plot, V)
importFrom(limma, contrasts.fit, eBayes, makeContrasts, lmFit, topTable)
importFrom(msigdbr, msigdbr)
importFrom(reshape2, dcast)
importFrom(stats, cor, model.matrix)
importFrom(string, str_split, str_split_i)
importFrom(viridian, scale_color_viridis)
importFrom(utils, read.csv)