import(ggplot2)
import(DMEA)
import(dplyr)
importFrom(data.table, rbindlist, like)
importFrom(ggcorrplot, ggcorrplot)
importFrom(limma, eBayes)
importFrom(reshape2, dcast)
importFrom(stats, cor)
importFrom(viridian, scale_color_viridis)
importFrom(utils, read.csv)