export(drugSEA_ties)
export(DMEA
export(mDEG)
export(ssGSEA)
export(DMEA_cell_corr)
export(DMEA_gene_corr)
export(compile_mDEG)
export(compile_mGSEA)
export(compile_mDMEA)
export(mGSEA)
export(mDMEA)
export(mDMEA_cell_corr)
export(mDMEA_gene_corr)
export(netSEA)
export(panSEA)
import(ggplot2)
import(DMEA)
import(plyr)
import(dplyr)
import(multtest)
importFrom(Biobase, ExpressionSet, exprs)
importFrom(data.table, rbindlist)
importFrom(ggcorrplot, ggcorrplot)
importFrom(ggvenn, ggvenn)
importFrom(GSA, GSA.read.gmt)
importFrom(igraph, degree, graph_from_data_frame, plot.igraph, V)
importFrom(limma, contrasts.fit, eBayes, makeContrasts, lmFit, topTable)
importFrom(metap, sumlog)
importFrom(msigdbr, msigdbr)
importFrom(qvalue, qvalue)
importFrom(reshape2, dcast, melt)
importFrom(stats, cor, model.matrix)
importFrom(stringr, str_split, str_split_i)
importFrom(viridis, scale_color_viridis)
importFrom(visNetwork, visIgraph)
importFrom(utils, read.csv)